---
layout: page
title: Notebook
---
<!DOCTYPE html>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<div class="w3-container w3-col" id="posts">
  <h2 class=""><b>All Posts</b></h2>

  <input class="search w3-centered w3-col w3-border-bottom" placeholder="&#x1F50E;" />
  <!-- <button class="sort w3-button" style="transition:ease all .6s" data-sort="name">Sort by Name</button>
  <button class="sort w3-button" style="transition:ease all .6s" data-sort="date">Sort by Date</button> -->

  <div class="list w3-padding-32" style="text-decoration:none; text-align:center">
    {% for post in site.posts %}
      {% include blog_post_div.html %}

    {% endfor %}
  </div>
  <script>
    var options = {
      valueNames: [ 'name', 'date', 'category' ]
    };
    var postList = new List('posts', options);
  </script>
</div>
