/*START OF DROPDOWN MENU*/
.container {
    overflow: hidden;
    /*background-color: #333;*/
    /*font-family: Arial;*/
}

.container a {
    float: left;
    font-size: 5vw;
    background-color: white;
    text-align: center;
    padding: .5vw .5vw;
    /*text-decoration: none;*/
}

.dropdown {
  transition: all .6s;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    opacity: 1;
    transition: .6s all;
    /*float:left;*/
    /*vertical-align: middle;*/
    transition: all .6s ease-out;
    border-radius: 0px;
    font-family: EB Garamond;
    font-weight: bold;
    font-size: 2vh;
    cursor: pointer
    /*font-size: 16vw;*/
    border: 1px black;
    outline: none;
    padding:1vh 2.5vh;
    background-color: white;
}

.container a:hover, .dropdown:hover .dropbtn {

  transition: .6s all;
    background-color: white;
}

.dropdown-content {
    padding-top: .9vh;
    font-family: EB Garamond;
    font-size: 14px;
    opacity: 1;
    font-weight: bold;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 1vw;
    box-shadow: 0vw -.8vw -1vw 0vw rgba(0,0,0,1);

    z-index: 1;
}

.dropdown-content a {
  transition: all .6s ease-out;
    align: center;
    float: none;
    color: black;
    opacity: 1;
    background-color: white;
    padding: 1vw 2vw;
    /*text-decoration: none;*/
    display: block;
    text-align: justify;
}

.dropdown-content a:hover {
  transition: .6s all;
    background-color: #ddd;
}

.show {
    display: block;
}
/*END OF DROPDOWN MENU*/
li {
  list-style-type: none;
}

.search{
  transition: all .9s ease-out;
  font-family:EB Garamond;
  font-size: 36px;
  border: none;
  /*border-radius: 10px;*/
  /*border-left: none;*/
  background: -webkit-linear-gradient(left,white,white,white,white,white,white,white,white,white)!important;

}
.search:hover, .search:focus{
  transition: all ease .6s;
  background: -webkit-linear-gradient(left,#ffe998,white,white,white,white,white,white,white,white)!important;
  /*border: 10px double #ffc998;*/
  /*border-radius: 10px;*/
  /*border-left: none;
  border-right: none;*/
}

.read-more {
  transition: all ease .6s;
  border-left: 0px solid white;
  font-family: Crimson Text;
  font-size: 20px;
}

.read-more:hover {
  color: grey;
  border-left: 2px solid white;
}

.read-more:link {
  color: black;
  text-decoration: none;
}

a:link{
  text-decoration: inherit;
}
p {
  font-family: Crimson Text;
  font-size: 20px;
}
h1,h2,h3 {
  transition: all ease .6s;
  background: -webkit-linear-gradient(left,white,white,white,white,white,white,white,white,white)!important;
  border-left:0px solid white;
  font-family: EB Garamond;
}
h1:hover {
  background: -webkit-linear-gradient(left,#ffe998,white,white,white,white,white,white,white,white)!important;
  border-left:2px solid white;
}

h2,h3,h4 {
  font-family: EB Garamond;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

h3:hover {
  background: -webkit-linear-gradient(left,#ffe998,#ffe998,white,white,white,white,white,white,white)!important;
  border-left:2px solid white;
}

div {
    font-family: EB Garamond;
}

#btnControl {
    display: none;
}

#btnControl:checked + label > img {
  transition: .6s all;
 -webkit-filter: greyscale(0%);
  filter: grayscale(0%);

}

.overlay-text {
  transition: all .9s ease-out;
  font-family: Crimson Text;
  color: white;
  font-size: 1vw;
  background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0));
}
.overlay-text:hover {
  transition: 0.6s all;
  font-size: 1vw;
  background: -webkit-linear-gradient(left,rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1));
}
}
.wide-text{
  border-radius: 1vw;
  font-family: Crimson Text;
  font-size: 2.5vw;
  color: white;
  transition: all .6s ease-out;
}
.wide-text:hover{
  transition: .6s all;
  /*background: -webkit-linear-gradient(left,white,yellow,white)!important;*/
}
.headerimg {
  width:100vw;
  height: 30vh;
  /*max-height: 500vw;*/
  align: center;
  /*background-size: cover;*/
  /*border: solid black;
  /*border-width: 100vw;*/
  /*border-width: 100vw;*/
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-out;
}
.headerimg:hover{

}
.profileimg{
  transition: all .6s ease-out;
  -webkit-filter: grayscale(100%)!important;
  filter: grayscale(100%);
  /*border: .2vh solid black;*/
  width:25vh;
}

.profileimg:hover{
  transition: .6s all;
  -webkit-filter: grayscale(100%)!important;
  filter: grayscale(100%);
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.w3-bar-item{
  letter-spacing: 10px;
  border-radius: 2vw;
  font-family: EB Garamond;
  font-size: 1.5vw;
  /*font-style: italic;*/
  transition: all .6s ease-out;
  background: -webkit-linear-gradient(right,white,white,#ffe998,#ffcf98,#ffcf98,#ffcf98,#ffb598,white,white)!important;
  background: -o-linear-gradient(right,white,white,#ffe998,#ffcf98,#ffcf98,#ffcf98,#ffb598,white,white)!important;

}
.w3-bar-item:hover{
  transition: .6s all;
  background: -webkit-linear-gradient(left,white,white,#ffe998,#ffe998,white,#ffb598,#ffb598,white,white)!important;
  background: -o-linear-gradient(left,white,white,#ffe998,#ffe998,white,#ffb598,#ffb598,white,white)!important;

}
.button-item{
  font-family: Crimson Text;
  font-size: 1.2vw;
  /*font-style: italic;*/
  transition: all .6s ease-out;
  background: -webkit-linear-gradient(left,white,white,lightgrey,white,white)!important;
}
.button-item:hover{
  transition: .6s all;
  background: -webkit-linear-gradient(left,white,lightgrey,white,lightgrey,white)!important;
}
.section-padding{
  padding-top:2vh!important;
  padding-bottom:2vh!important;
}
.mobile_menu{
  display: none;
}
/*///////////////////////////////////////////*/
/*/ MOBILE STYLE WITH LANDSCAPE ORIENTATION /*/
/*///////////////////////////////////////////*/
@media only screen and (max-width: 760px) and (orientation:landscape)
{
  .w3-button
  {
    font-size: 5.5vh;
    /*display: flex;*/
    font-family: EB Garamond;
  }
  .mobile_menu {
    display: inline;
  }
   p
   {
     font-family: Crimson Text;
     font-size: 3vw;
   }
   h3
   {
     font-family: EB Garamond;
     font-size: 4vw;
   }
   .w3-bar-item
   {
     border-radius: 1vw;
     font-family: Crimson Text;
     font-size: 4.5vw;
     /*font-style: italic;*/
     transition: all .6s ease-out;
     background: -webkit-linear-gradient(right,white,white,#ffe998,#ffcf98,#ffcf98,#ffcf98,#ffb598,white,white)!important;
     background: -o-linear-gradient(right,white,white,#ffe998,#ffcf98,#ffcf98,#ffcf98,#ffb598,white,white)!important;
   }
   .profileimg
   {
     transition: all .6s ease-out;
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
     border: .2vw solid black;
     width:30vw;
   }
}
@media only screen and (max-width: 760px) and (orientation:portrait)
{
  .w3-bar-item
  {
    border-radius: 1vw;
    font-family: Crimson Text;
    font-size: 4vw;
    /*font-style: italic;*/
    transition: all .6s ease-out;
    background: -webkit-linear-gradient(right,white,white,#ffe998,#ffcf98,#ffcf98,#ffcf98,#ffb598,white,white)!important;
    background: -o-linear-gradient(right,white,white,#ffe998,#ffcf98,#ffcf98,#ffcf98,#ffb598,white,white)!important;
  }
  .mobile_menu {
    display: inline;
  }
  .w3-button
  {
    font-size: 3.5vh;
    display: flex;
    font-family: EB Garamond;
  }
  .mobile_menu
  {
    /*display:table;*/
  }
  .headerimg{
    height: 0vh;
  }
  .profileimg
  {
    width: 60vw;
  }
  h3
  {
    font-size: 4vh;
  }
  p
  {
    font-size: 3vh;
  }
  a
  {
    font-size: 3vh;
    align:left;
  }

}
