<title>Jackson Street Design</title>
<link rel="shortcut icon" type="image/ico" href="Resources/favicon.ico"/>
<link href=' http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
<link href=' http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="js/jquery.min.js"></script>
<script src="js/instantclick.min.js"></script>
<script src="js/headroom.js"></script>
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/secondary.css">
<meta name="viewport" content="width=device-width, user-scalable=no">
