<div class="w3-top" style="opacity: 1" id="top_bar">
 <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
   <a href="../../../index.html" class="w3-bar-item w3-button w3-display-middle" id="title">JACKSON STREET DESIGN</a>
   <div class="dropdown w3-left" id="dropdown"> <!-- w3-right w3-hide-small"> -->
     <button class="dropbtn" onclick="myFunction()"><img src="Resources/menu-icon.png" style="height:2vh; width:auto;"></button>
     <div class="dropdown-content" id="myDropdown" style="font-size:18px">
       <!-- <a href="projects.html" class="w3-button"><b>Projects</b></a> -->
       <a href="../../../index.html" class="w3-button">Home</a>
       <a href="../../../notebook.html" class="w3-button">Notebook</a>
       <a href="#" class="w3-button">Services</a>
       <a href="../../../index.html#about" class="w3-button">About</a>
       <a href="../../../index.html#contact" class="w3-button">Contact</a>
     </div>
   </div> <!-- Float links to the right. Hide them on small screens -->
 </div>
</div>
